{% extends "base.njk" %}

{% block header %}
{% include "partials/explore/header.njk" %}
{% endblock %}

{% block main %}
{% include "partials/home/explore.njk" %}
{% endblock %}

{% include "partials/footer.njk" %}