{% extends "base.njk" %}

{% block header %}
{% include "partials/home/header.njk" %}
{% endblock %}

{% block main %}
{% include "partials/home/liveAuctions.njk" %}
{% include "partials/home/top-sellers.njk" %}
{% include "partials/home/explore.njk" %}
{% include "partials/home/popular-collections.njk" %}
{% include "partials/home/how-it-works.njk" %}
{% endblock %}

{% include "partials/footer.njk" %}