{% extends "base.njk" %}

{% block header %}
    {% include "partials/items-details/header.njk" %}
{% endblock %}

{% block main %}
    {% include "partials/items-details/single-items-details.njk" %}
{% endblock %}

{% include "partials/footer.njk" %}