 {% block header %}
    <div class="container-fluid img-H-E mh-500 pb-3 cover-bg">
        {% include 'partials/nav.njk' %}
        <div class="container  px-0 my-5">
        <div class ="mw-600 m-auto text-center">
            <div><h2 class="text-white font-size-70  mb-3">Explore</h2>                              
            <span class="text-gris">home></span> 
            <span class="text-white">Explore</span>
        </div>
        </div>
    </div>
  {% endblock %}