<footer class="bg-negro ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="contain-texto py-4 ">
                    <div>
                        <img src="../../dist/img/logo.png" alt="">
                    </div>
                   <p class="text-gris pt-3"> Lorem ipsum dolor sitamet,consectetuer adipiscing elit, sed diam nonummy nibh tincidunt ut laoreet dolore
                    magna. </p>
                    <ul class="d-flex p-0 m-0 ">
                        <li class="list-unstyled me-2 p-2 icons-footer"><a href="#" class="text-decoration-none text-white"><i class="bi bi-facebook"></i></a></li>
                        <li class="list-unstyled me-2 p-2 icons-footer"><a href="#" class="text-decoration-none text-white"><i class="bi bi-twitter"></i></a></li>
                        <li class="list-unstyled me-2 p-2 icons-footer"><a href="#" class="text-decoration-none text-white"><i class="bi bi-instagram"></i></a></li>
                        <li class="list-unstyled me-2 p-2 icons-footer"><a href="#" class="text-decoration-none text-white"><i class="bi bi-linkedin"></i></a></li> 
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-8 py-5 ">
                <div class="row">
                    <div class="col-12 col-md-3 d-flex flex-column text-start  mb-3 mb-md-0  ">
                       
                        <h6 class="text-white after mb-4 ">Marketplace</h6>
                        <a href="#" class="text-decoration-none text-gris">All NFTs</a>
                        <a href="#" class="text-decoration-none text-gris">How it works</a>
                        <a href="#" class="text-decoration-none text-gris">Create</a>
                        <a href="#" class="text-decoration-none text-gris">Explore</a>
                        <a href="#" class="text-decoration-none text-gris">Privacy & terms</a>
                    </div>

                    <div class="col-12 col-md-3 d-flex flex-column text-start  mb-3 mb-md-0">
                        <h6 class="text-white after  mb-4">Community</h6>
                        <a href="#" class="text-decoration-none text-gris">Help center</a>
                        <a href="#" class="text-decoration-none text-gris">Newsletter</a>
                        <a href="#" class="text-decoration-none text-gris">Partners</a>
                        <a href="#" class="text-decoration-none text-gris">Suggestions</a>
                        <a href="#" class="text-decoration-none text-gris">Blog</a>
                    </div>
                    <div class="col-12 col-md-6   text-start  d-flex  flex-column align-items-center ">
                        <h6 class="text-white afterr mb-4 ">Join Newsletter</h6>
                        <p class="text-gris">Signup for our newsletter to get the latest news in your inbox.</p>
                        <form action="">
                            <div class="contain-formularion mw-260 position-relative ">
                                <input type="email" class="input  " name="email" id="email" placeholder="Email Address" >
                                <button type="button" class="btn btn-warning position-absolute end-5 top-4 "><i class="bi bi-send"></i></button> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-negro-claro p-4 text-center">
        <div class="containe text-gris  ">
             Copyright &copy; 2021 ib-themes. All right reserved.
        </div>
    </div>
</footer>