{% block header %}
    <div class="container-fluid img-H-E mh-500 pb-3">
        <div class="container ">
        <nav class="navbar navbar-expand-lg navbar-light text-gris">
            <div class="container-fluid">
            <div class="d-flex align-items-center ">
                <a class="navbar-brand" href="#">
                <h1 class="font-size-0 m-0">Banu <img src="../../dist/img/logo.png" alt=""></h1>
                </a>
            </div>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mt-0 me-auto mb-2 mb-lg-0 font-size-14 ">
                <li class="nav-item">
                    <a
                    class="nav-link dropdown-toggle active"
                    href="/index.html"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Home
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="#">Action</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Explore
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="#">Action</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" aria-current="page">
                    Activity
                    </a>
                </li>
                <li class="nav-item">
                    <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Comunity
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="#">Action</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Pages
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="#">Action</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                    </ul>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" aria-current="page">
                    Contact</a>
                </li>
                </ul>
                <form class="d-flex">
                <input class="form-control me-2 d-none" type="search" placeholder="Search" aria-label="Search">
                <i class="bi bi-search m-auto  me-4 "></i>
                <button class="btn btn-outline-secondary font-size-14" type="submit">Connect Wallet</button>
                </form> 
            </div>
            </div>
        </nav> 
        </div>
        <div class="container  px-0 my-5">
        <div class ="mw-600 m-auto text-center">
            <div><h2 class="text-white font-size-70  mb-3">Item Details</h2>                              
            <span class="text-gris">home></span> 
            <span class="text-gris">Explore></span> 
            <span class="text-white">Item Details</span>
        </div>
        </div>
    </div> 
  {% endblock %}