{% block header %}
<div class="container-fluid img-H-I mh-500 pb-3 cover-bg">

    {% include 'partials/nav.njk' %}

    <div class="container  px-0 my-5">
        <div class="mw-600 m-auto text-center">
        <div>
            <h2 class="text-white font-besley font-size-39">Discover, collect,and sell extraordinary</h2>
            <h2 class="text-nfts-color font-besley font-size-39">NFTs</h2>
            <p class="text-gris px-md-5 font-size-14">find exclusive digital artwork. collect digital artwork made by amazing
            people. make money by doing something you passionate.</p>
        </div>
        <div>
            <a href="" class="btn btn-danger">Explore</a>
            <a href="" class="btn btn-outline-secondary">Create</a>
        </div>
        </div>
    </div>

</div>
{% endblock %}