<section class="seccion-hoow-it-works bg-negro-claro py-5 ">
    <div class="container">
        <div class="row">
            <div class="contain-texto pb-4">
                <h5 class="text-primary-color font-akshar font-weight-bold  pt-4 "> <u >How it Works</u> </h5>
                <h3 class="text-white  font-akshar display-3">Create & sell your NFTs</h3> 
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-white bg-cards border-card p-4 mb-3" >
                    <div class="card-body "> 
                    <div class="text-primary-color font-size-39"><i class="bi bi-wallet2"></i></div>
                      <h5 class="card-title">Set up your wallet</h5>
                      <p class="card-text text-gris mw-auto ">There are a few things worth doing before creating your first NFTs. In the image above, you’ll not personalized banner. To upload yours, press the pencil icon in the top right.</p>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-white bg-cards border-card p-4 mb-3" >
                    <div class="card-body"> 
                    <div class="text-primary-color font-size-39"><i class="bi bi-grid"></i></div>
                      <h5 class="card-title">Create your collection</h5>
                      <p class="card-text text-gris mw-auto ">There are a few things worth doing before creating your first NFTs. In the image above, you’ll notice a , press the pencil icon in the top right.
                        creating your first NFTs.</p> 
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-white bg-cards border-card p-4 mb-3" >
                    <div class="card-body"> 
                    <div class="text-primary-color font-size-39"><i class="bi bi-tag"></i></div>
                      <h5 class="card-title">List them for sale</h5>
                      <p class="card-text text-gris mw-auto ">There are a few things worth doing before creating your first NFTs. In the image above, you’ll notice a , press the pencil icon in the top right.
                        creating your first NFTs.</p>  
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>