<section class="seccion-live-auctions bg-negro-claro py-5">
    <div class="container">
        <div class="row">
            <div class="contain-texto pb-4">
                <h5 class="text-primary-color font-akshar font-weight-bold  pt-4 ">
                    <u > Auctions</u>
                </h5>
                <h3 class="text-white  font-akshar display-3">Live Auctions</h3>
            </div>

            {% for car in cars %}
                <div class="col-12 col-md-6  col-lg-3 mb-4  ">
                    <div class="card border-card  p-3  bg-cards me-0  " >
                        <div class="contain-img position-relative">
                            <img src="img/imageCards.png" class="card-img-top" alt="...">
                            <span class="bg-difuminado  text-white p-1 rounded position-absolute start-0 bottom-0 ms-1 mb-1 ">03:18:24</span>
                        </div>
                        <div class="card-body px-0 pb-0 ">
                            <div class="contain-title text-white d-flex justify-content-between ">
                            <h5 class="card-title">{{car}}</h5>
                            <div class="text-gris">
                                <i class="bi bi-heart"></i>
                                <span>92</i></span>
                            </div>
                            </div>
                            <div class="contain-avatar d-flex align-items-center pb-3 ">
                                <div>
                                    <img src="img/avatarCards.png" alt="">
                                </div>
                                <span class="text-gris ps-1">@banuri</span>
                            </div>
                            <div class="contain-price d-flex justify-content-between bg-negro-claro p-1 rounded">
                                <span class="text-gris">Price</span>
                                <span class="text-white">5.4 ETH</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


            <div class="text-center  pt-4 pb-5 ">
                <a href="#" class="btn btn-danger">Explore More</a>
            </div>
        </div>
    </div>
</section>