<section class="seccion-popular-collections bg-negro py-5">
    <div class="container">
        <div class="row">
            <div class="contain-texto pb-4">
                <h5 class="text-primary-color font-akshar font-weight-bold  pt-4 "><u>Browse by Category</u></h5>
                <h3 class="text-white  font-akshar display-3">Popular Collections</h3>
            </div>
            <div class="col-12 col-md-4 mb-4 ">
                <div class="card  bg-cards me-0 border-card  ">
                    <div class="contain-img ">
                        <img src="../../../../dist/img/imageCardMediana.png" class="card-img-top border-top-top" alt="...">
                    </div>
                    <div class="card-body py-2  d-flex justify-content-between align-items-center align-content-center ">
                        <span class="card-title text-white m-0">Trading Cards</span>
                        <span class="text-gris">ERC-248</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 ">
                <div class="card  bg-cards me-0 border-card ">
                    <div class="contain-img ">
                        <img src="../../../../dist/img/imageCardMediana.png" class="card-img-top  border-top-top" alt="...">
                    </div>
                    <div class="card-body py-2  d-flex justify-content-between align-items-center align-content-center ">
                        <span class="card-title text-white m-0">Music</span>
                        <span class="text-gris">ERC-248</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 ">
                <div class="card  bg-cards me-0  border-card">
                    <div class="contain-img border-top-top">
                        <img src="../../../../dist/img/imageCardMediana.png" class="card-img-top border-top-top  " alt="...">
                    </div>
                    <div class="card-body py-2  d-flex justify-content-between align-items-center align-content-center ">
                        <span class="card-title text-white m-0">Domain Names</span>
                        <span class="text-gris">ERC-348</span> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4"> 
                <div class="card  bg-cards me-0 border-card ">
                    <div class="contain-img ">
                        <img src="../../../../dist/img/imageCardMediana.png" class="card-img-top border-top-top" alt="...">
                    </div>
                    <div class="card-body py-2  d-flex justify-content-between align-items-center align-content-center ">
                        <span class="card-title text-white m-0">Virtual Worlds</span>
                        <span class="text-gris">ERC-248</span>
                    </div> 
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4"> 
                <div class="card  bg-cards me-0 border-card ">
                    <div class="contain-img ">
                        <img src="../../../../dist/img/imageCardMediana.png" class="card-img-top border-top-top" alt="...">
                    </div>
                    <div class="card-body py-2  d-flex justify-content-between align-items-center align-content-center ">
                        <span class="card-title text-white m-0">Collectibles</span>
                        <span class="text-gris">ERC-248</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card  bg-cards me-0 border-card ">
                    <div class="contain-img ">
                        <img src="../../../../dist/img/imageCardMediana.png" class="card-img-top border-top-top" alt="...">
                    </div>
                    <div class="card-body py-2  d-flex justify-content-between align-items-center align-content-center ">
                        <span class="card-title text-white m-0">Utility</span>
                        <span class="text-gris">ERC-348</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>