<section class="seccion-top-sellers bg-negro py-5" >
   <div class="container">
        <div class="row">
            <div class="contain-texto pb-4">
                <h5 class="text-primary-color font-akshar font-weight-bold  pt-4 ">
                    <u > Creators</u>
                </h5>
                <h3 class="text-white  font-akshar display-3">Top Sellers</h3>
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-4  ">
                    <div class="contain-card bg-cards p-4 d-flex justify-content-between rounded    ">
                        <div class="contain-avatar-img d-flex align-items-center ">
                            <img src="../../../../dist/img/avatarCardS.jpg"   class="img-topsellers  rounded-circle" alt=""> <div class="contain-nombre text-white d-flex flex-column ps-3 ">
                                <span class="mb-2">James Tonny</span>
                                <span>2.65 ETH</span>
                            </div>
                        </div>
                        <div class="contain-items text-white px-2 text-center  ">
                            <h4 class="m-0"><strong>62</strong> </h4>
                            <span>Items</span>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-4  ">
                    <div class="contain-card bg-cards p-4 d-flex justify-content-between rounded    ">
                        <div class="contain-avatar-img d-flex align-items-center ">
                            <img src="../../../../dist/img/avatarCardS.jpg"   class="img-topsellers  rounded-circle" alt=""> <div class="contain-nombre text-white d-flex flex-column ps-3 ">
                                <span class="mb-2">Buri maa</span>
                                <span>2.65 ETH</span>
                            </div>
                        </div>
                        <div class="contain-items text-white px-2 text-center  ">
                            <h4 class="m-0"><strong>129</strong> </h4>
                            <span>Items</span>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-4  ">
                    <div class="contain-card bg-cards p-4 d-flex justify-content-between rounded    ">
                        <div class="contain-avatar-img d-flex align-items-center ">
                            <img src="../../../../dist/img/avatarCardS.jpg"   class="img-topsellers  rounded-circle" alt=""> <div class="contain-nombre text-white d-flex flex-column ps-3 ">
                                <span class="mb-2">James unny</span>
                                <span>2.65 ETH</span>
                            </div>
                        </div>
                        <div class="contain-items text-white px-2 text-center  ">
                            <h4 class="m-0"><strong>28</strong> </h4>
                            <span>Items</span>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-4  ">
                    <div class="contain-card bg-cards p-4 d-flex justify-content-between rounded    ">
                        <div class="contain-avatar-img d-flex align-items-center ">
                            <img src="../../../../dist/img/avatarCardS.jpg"   class="img-topsellers  rounded-circle" alt=""> <div class="contain-nombre text-white d-flex flex-column ps-3 ">
                                <span class="mb-2">James tonny</span>
                                <span>2.65 ETH</span>
                            </div>
                        </div>
                        <div class="contain-items text-white px-2 text-center  ">
                            <h4 class="m-0"><strong>23</strong> </h4>
                            <span>Items</span>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-4  ">
                    <div class="contain-card bg-cards p-4 d-flex justify-content-between rounded    ">
                        <div class="contain-avatar-img d-flex align-items-center ">
                            <img src="../../../../dist/img/avatarCardS.jpg"   class="img-topsellers  rounded-circle" alt=""> <div class="contain-nombre text-white d-flex flex-column ps-3 ">
                                <span class="mb-2">Jimmy choe</span>
                                <span>2.65 ETH</span>
                            </div>
                        </div>
                        <div class="contain-items text-white px-2 text-center  ">
                            <h4 class="m-0"><strong>15</strong> </h4>
                            <span>Items</span>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-4  ">
                    <div class="contain-card bg-cards p-4 d-flex justify-content-between rounded    ">
                        <div class="contain-avatar-img d-flex align-items-center ">
                            <img src="../../../../dist/img/avatarCardS.jpg"   class="img-topsellers  rounded-circle" alt=""> <div class="contain-nombre text-white d-flex flex-column ps-3 ">
                                <span class="mb-2">Stave Bamer</span>
                                <span>2.65 ETH</span>
                            </div>
                        </div>
                        <div class="contain-items text-white px-2 text-center  ">
                            <h4 class="m-0"><strong>33</strong> </h4>
                            <span>Items</span> 
                        </div>
                    </div>
            </div>
        </div>
   </div>
</section>